<a href="https://colab.research.google.com/github/aditya10938/DataScience-Assignment/blob/main/Assignment4_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

##How to create a series from a numpy array?

In [2]:
import numpy as np
a=np.array([1,2,3,4,5])
b=pd.Series(a)
b

0    1
1    2
2    3
3    4
4    5
dtype: int64

##How to convert the index of a series into a column of a dataframe?

In [3]:
df=pd.DataFrame(a)
df['index']=b.index
df

   0  index
0  1      0
1  2      1
2  3      2
3  4      3
4  5      4

##Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset

In [7]:
import seaborn as sbn
sbn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [6]:
data=sbn.load_dataset('mpg')
data

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

##Which country origin cars are a part of this dataset?

In [9]:
data['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

##Extract the part of the dataframe which contains cars belonging to 'usa'

In [10]:
data[data['origin']=='usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]